	<!-- Latest jQuery Bootstrap JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js">
    </script>
    <!-- Latest compiled and minified Bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	{% if page.title == "Search" %}
	<!-- add lunr JS for search -->
	<script src="/assets/js/lunr.min.js"></script>
	<script src="/assets/js/search.js"></script>
	{% endif %}
	<!--Adobe DTM Footer code-->
	<script type="text/javascript">_satellite.pageBottom();</script>