 @font-face {font-family: 'ProximaNova-Bold';src: url('http://jetstrap-site.s3.amazonaws.com/webfonts/23BAC1_2_0.eot');src: url('http://jetstrap-site.s3.amazonaws.com/webfonts/23BAC1_2_0.eot?#iefix') format('embedded-opentype'),url('http://jetstrap-site.s3.amazonaws.com/webfonts/23BAC1_2_0.woff') format('woff'),url('http://jetstrap-site.s3.amazonaws.com/webfonts/23BAC1_2_0.ttf') format('truetype');}
 
 @font-face {font-family: 'ProximaNova-Light';src: url('http://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Light.eot');src: url('http://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Light.eot?#iefix') format('embedded-opentype'),url('http://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Light.woff') format('woff'),url('http://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Light.ttf') format('truetype');}

 @font-face {font-family: 'ProximaNova-Regular';src: url('http://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Regular.eot');src: url('http://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Regular.eot?#iefix') format('embedded-opentype'),url('http://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Regular.woff') format('woff'),url('http://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Regular.ttf') format('truetype');}
 
 @font-face {font-family: 'ProximaNova-Thin';src: url('http://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Thin.eot');src: url('http://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Thin.eot?#iefix') format('embedded-opentype'),url('http://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Thin.woff') format('woff'),url('http://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Thin.ttf') format('truetype');}

body {
  padding-top: 100px;
  font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #2980B9;
}

img { max-width: 100%;}

#tweet { margin-top: 20px; }

.post-footer .fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}
.post-footer .tags-columns li {
    -webkit-column-break-inside: avoid;
}
.post-footer .fa-ul>li {
    position: relative;
}
.post-footer .fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: .14285714em;
    text-align: center;
}
.post-footer .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.post-footer .fa-tag:before {
    content: "\f02b";
}

/*  Navbar  */
.navbar-default {
    background-color: rgba(52, 152, 219, 0.9);
	height: 75px;
}
.container>.navbar-header, .navbar-default .navbar-collapse {
    padding: 12px 0 0 20px;
}
.navbar-default .navbar-brand {
	font-size: 1.6em;
    color: #fff;
}
.navbar-default .navbar-brand:hover {
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
}

#bs-example-navbar-collapse-1 {
    background: #e7e7e7;
}
#bs-example-navbar-collapse-1 .navbar-nav {
    margin: 0 40px 10px 15px;
}
#bs-example-navbar-collapse-1 li a {
    color: #888;
    border-bottom: 1px solid #888;
}
#bs-example-navbar-collapse-1 li:last-of-type a {
    border-bottom: none;
}

/*  Sidebar  */
.panel-group {
    margin-bottom: 0px;
}
.panel-group .panel {
    border-radius: 0;
}
.panel-title {
    color: #2980B9;
	font-family: 'ProximaNova-Bold';
    font-weight: normal;
    letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	height: 100%;
	display: block;
	font-size: 14px;
}
.panel-title:hover {
	text-decoration: none;
	color: #2980B9;
}
.panel-body {
	padding: 0px;
}
.panel-body li {
	list-style: none;
}
.panel-body li.active{
	background-color: #f5f5f5;
}
.panel-body li a {
    padding: 10px 15px;
	display: block;
	color: #999;
}
.panel-body li.active a{
	color: #2980B9;
}
.panel-body li a:hover {
	text-decoration: none;
	background-color: #f5f5f5;
}

.search-input {
    -webkit-appearance: none;
    border: 1px solid #ddd;
    border-radius: .25em;
    font-size: 1.25em;
	margin: 0 0 15px 0;
    padding: .5em;
    width: 100%;
}
#results a.post-title {
    font-size: 1.5em;
}
#results p {
    font-size: 1.1em;
}

.col-md-3 { margin-bottom: 20px; }

/* Medium devices (desktops, 992px and up) */
@media(min-width:768px) { 
	#bs-example-navbar-collapse-1 {
		background: none;
	}
	#bs-example-navbar-collapse-1 .navbar-nav {
		margin: 0;
	}
	#bs-example-navbar-collapse-1 li a {
		color: inherit;
		border-bottom: none;
	}
}
@media(min-width:992px) { 
	.navbar-default .navbar-brand {
		font-size: 40px;
		font-weight: 200;
	}
}