<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <link rel="stylesheet" href="stylesheets/custom.css">
    <script src="javascripts/scale.fix.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74213600-1', 'auto');
      ga('require', 'linkid')
      ga('send', 'pageview');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% seo %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header"><a href="/">Analytics Playbook</a></h1>
        <br>
        <li><a href="how_to_submit.html" style="font-size:18px;">How To Submit An Article</a></li>

        <h3>Google Analytics</h3>

        <h3>Adobe Analytics</h3>

        <h3>Tag Management</h3>
            <ul>
                <li><a href="json_datalayer_w3c_based.html">JSON Data Layer: Basics and W3C norm</a></li>
            </ul>
        <h3>API/Programmatic</h3>
            <ul>
	            <li><a href="python_identify_duplicate_data.html">Python: Identify Duplicate Data</a></li>
            </ul>
        <h3>Testing & Optimization</h3>
            <ul>
                <li><a href="target_class_workflow.html">Adobe Target: Classic Workflow</a></li>
            </ul>
        <h3>Data Visualization</h3>

        <h3>Search Engine Optimization (SEO)</h3>

        <h3>Email</h3>

        <h3>Customer Relationship Management (CRM)</h3>

      </header>

      <section>
          {{ content }}
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="DACookbookOrg" data-size="large" data-hashtags="measure">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </section>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
