<!-- Theme forked by https://github.com/driftyco/jetstrap-docs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Analytics Playbook{% if page.title }%} - {{page.title}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="{{ site.baseurl }}/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <link href="{{ site.baseurl }}/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/docs.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/custom.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/ico/apple-touch-icon-57-precomposed.png">
    <style>
    </style>
    <!-- Adobe DTM Library -->
    <script src="//assets.adobedtm.com/0cc0e010ce8e1e1377a4055fc7a51f61b47d14dc/satelliteLib-365bfb734a97fe5729197abcd7095108eec22654.js"></script>
	<script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74213600-1', 'auto');
      ga('require', 'linkid')
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="{{ site.baseurl }}/" class="brand">Analytics Playbook</a>
          <ul class="nav pull-right">
			<li><a href="{{ site.baseurl }}/how_to_submit.html" target="_blank">How To Submit An Article</a></li>
            <li><a href="{{ site.baseurl }}/README.html">About</a></li>
            <li><a href="https://github.com/digitalanalyticscookbook/digitalanalyticscookbook.github.io" target="_blank">Fork This!</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <ul id="menu" class="nav nav-list" data-spy="affix">
            <li class="nav-header">Google Analytics</li>
            <li class="nav-header">Adobe Analytics</li>
            <li class="nav-header">Tag Management</li>
            <li data-section="tagmanagement/json_datalayer_w3c_based"><a href="{{ site.baseurl }}/tagmanagement/json_datalayer_w3c_based.html">JSON Data Layer: Basics and W3C norm</a></li>
			<li data-section="tagmanagement/set_record_visitors_type_adobe_dtm"><a href="{{ site.baseurl }}/tagmanagement/set_record_visitors_type_adobe_dtm.html">Set and Record Visitor Type with Adobe DTM</a></li>
			<li data-section="tagmanagement/adobe_dtm_previous_page_name"><a href="{{ site.baseurl }}/tagmanagement/adobe_dtm_previous_page_name.html">Adobe DTM - Previous Page Name</a></li>
			<li data-section="tagmanagement/adobe_dtm_console_messages"><a href="{{ site.baseurl }}/tagmanagement/adobe_dtm_console_messages.html">Adobe DTM - Using Browser Console Messages</a></li>
			<li class="nav-header">API/Programmatic</li>
			<li data-section="api/python_identify_duplicate_data"><a href="{{ site.baseurl }}/api/python_identify_duplicate_data.html">Identify Duplicate Data Using Python</a></li>
            <li data-section="api/learn_sql_30_minutes"><a href="{{ site.baseurl }}/api/learn_sql_30_minutes.html">Learn SQL in 30 Minutes</a></li>
            <li data-section="api/real-time-adobe-analytics-api-tutorial"><a href="{{ site.baseurl }}/api/real-time-adobe-analytics-api-tutorial.html">Real-Time Reporting Adobe Analytics API Tutorial</a></li>
            <li data-section="api/python_groupby"><a href="{{ site.baseurl }}/api/python_groupby.html">Aggregate Sales Data using Python</a></li>
			<li class="nav-header">Testing & Optimization</li>
            <li data-section="testing/conductrics_setup_abtest_intro"><a href="{{ site.baseurl }}/testing/conductrics_setup_abtest_intro.html">Conductrics: Intro to Page Editing for A-B Testing</a></li>
            <li data-section="testing/target_class_workflow"><a href="{{ site.baseurl }}/testing/intro_to_ab_testing.html">Introduction to AB Testing and P-Values</a></li>
            <li data-section="testing/target_class_workflow"><a href="{{ site.baseurl }}/testing/target_class_workflow.html">Adobe Target: Classic Workflow</a></li>
			<li class="nav-header">Data Visualization</li>
            <li data-section="dataviz/statebin"><a href="{{ site.baseurl }}/dataviz/statebin.html">Visualizing State Level Data With R</a></li>
			<li class="nav-header">Search Engine Optimization (SEO)</li>
			<li class="nav-header">Email</li>
			<li class="nav-header">Customer Relationship Management (CRM)</li>
          </ul>
        </div>
        <div class="span9">
			{{content}}
			<a href="https://twitter.com/share" class="twitter-share-button" data-via="APlaybookOrg" data-size="large" data-hashtags="measure">Tweet</a>
			<script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
    </div>

    <style>

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.js">
    </script>

    <script>
      $('#menu [data-section="{{page.section}}"]').addClass('active');
    </script>
  <!--Adobe DTM Footer code-->
  <script type="text/javascript">_satellite.pageBottom();</script>
  </body>
</html>
